* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sour Gummy", Arial, Helvetica, sans-serif;
  font-weight: 100;
  transition: ease-in-out 0.2s;
  scroll-behavior: smooth;
}

.navigation-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.scrolled {
  background: rgb(150, 130, 130);
  transition: 0.5s;
}

.navigation-container.scrolled .navigation-links a:hover {
  color: rgb(0, 0, 0);
}

.navigation-container.scrolled .navigation-icons a:hover {
  color: rgb(0, 0, 0);
}

.navigation-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  color: white;
  font-family: "Sour Gummy";
  font-weight: 100;
}

.navigation-info ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navigation-info a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.navigation-info a:hover {
  color: black;
}

.navigation-icons {
  margin-right: 8rem;
}

.header-container {
  background-image: url(/Images/pastel-bloem.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header-container h1 {
  color: white;
  z-index: 2;
  text-align: center;
  font-family: "Sour Gummy";
  font-weight: 150;
  font-size: 120px;
  text-shadow: 2px 1px 1px black;
}

.header-btn {
  display: flex;
}

.header-btn button {
  border-radius: 30px;
  margin: 2rem 1rem;
  padding: 1.5rem 2.25rem;
  z-index: 3;
  cursor: pointer;
  background-color: rgba(203, 151, 203, 0.5);
}

.services {
  color: black;
  border: 1px solid black;
}

.services:hover {
  color: white;
  border: 1px solid white;
}

.carousel {
  height: 100vh;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

.carousel-items {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
  margin-top: 8rem;
}

div.item {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  border-radius: 10px;
}

div.item:nth-of-type(1) {
  --offset: 1;
  background: url(/Images/item-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background: url(/Images/koffer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background: url(/Images/item-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background: url(/Images/item-5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background: url(/Images/product-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ .carousel-items {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ .carousel-items {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ .carousel-items {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ .carousel-items {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ .carousel-items {
  --position: 5;
}
.carousel input[type="radio"] {
  appearance: none; /* Remove default styling */
  width: 12px;
  height: 12px;
  background-color: #9f9f9f;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel input[type="radio"]:checked {
  background-color: #555; /* Highlight the selected button */
  transform: scale(1.2);
}

.contact {
  color: block;
  border: 1px solid black;
  background-color: white;
}

.contact:hover {
  color: white;
  border: 1px solid white;
}

.header-btn button:hover {
  transition: 0.2s;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(140, 118, 118, 0.4), rgba(255, 255, 255, 1), rgba(140, 118, 118, 0.4));
  width: 100%;
  height: 150vh;
  text-align: center;
}

.services-info h2 {
  font-size: 5rem;
  color: black;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.services-info p {
  font-size: 25px;
  margin-top: 1.5rem;
}

.services-images-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4 / 3;
  background-image: url(/Images/flower-hoop-1.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: 2rem;
  border-radius: 20px;
}

.services-images-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4 / 3;
  background-image: url(/Images/Herinneringskoffer.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: 2rem;
  border-radius: 20px;
}

.services-images-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4 / 3;
  background-image: url(/Images/product-3-1.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: 2rem;
  border-radius: 20px;
}

.service-images-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 2rem;
}

.overlay-image {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 20px;
}

.services-images-1 h3,
.services-images-1 p,
.services-images-1 a,
.services-images-2 h3,
.services-images-2 p,
.services-images-2 a,
.services-images-3 p,
.services-images-3 h3,
.services-images-3 a {
  position: relative;
  z-index: 2;
  color: white;
}
.services-images-1 h3,
.services-images-2 h3,
.services-images-3 h3 {
  font-size: 2rem;
}

.services-images-1 p,
.services-images-2 p,
.services-images-3 p {
  font-size: 1.25rem;
  margin-top: 2rem;
}

.services-images-1 a,
.services-images-2 a,
.services-images-3 a {
  display: block;
  text-decoration: none;
  margin-top: 2rem;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: url(/Images/about-me-image.jpg);
  background-position: center;
  background-size: cover;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  border-left: 3px solid rgb(133, 79, 79);
  height: 100px;
}

#about-me-title {
  font-size: 3rem;
  color: black;
}

.vertical {
  margin: 0 1.5rem;
}

#about-me-information {
  max-width: 35%;
  color: black;
  font-size: 20px;
}

.review-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  height: 93vh;
  text-align: center;
  margin-bottom: 4rem;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.review-image img {
  max-width: 700px;
  height: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.review-1,
.review-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed black;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  aspect-ratio: 4 / 3;
  border-radius: 50%;
  color: black;
  text-shadow: 1px 1px 1px white;
}

.review-1 p,
.review-3 p {
  max-width: 90%;
  padding: 1.5rem 1rem;
  font-size: 15px;
  font-style: italic;
}

.image-container h5 {
  font-weight: 400;
  bottom: 1rem;
  position: absolute;
  top: 75%;
}

.image-container img {
  max-width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 50;
}

.contact-container {
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(/Images/contact-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 4rem;
  padding: 2rem;
}

#contact-title {
  font-size: 3rem;
  margin-top: 2rem;
  display: block;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info p {
  max-width: 650px;
  margin-top: 5rem;
  font-size: 1.25rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  max-width: 600px;
  padding: 2rem;
  gap: 2rem;
  margin-top: 2rem;
}

.contact-form input {
  width: 500px;
  height: 40px;
  padding-left: 0.5rem;
  border-radius: 10px;
  border: 1px solid black;
}

.contact-form textarea {
  padding-left: 0.5rem;
  border-radius: 10px;
  height: 200px;
  padding-top: 0.5rem;
}

.contact-form button {
  padding: 1rem 2rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(231, 166, 255, 0.62);
}
